.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #36393F;
    border-bottom: 1px solid var(--bg-color);
    height: 60px;
    width: 100%;
}

.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}

.leftInnerContainer>svg {
    --saturation-factor: 1;
    color: hsl(213, calc(var(--saturation-factor, 1)*4.1%), 57.5%);
}

.leftInnerContainer>h3 {
    --saturation-factor: 1;
    font-family: "ABC Ginto Normal",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
    padding: 0 6px;
    border: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    border-radius: 3px;
    -webkit-app-region: no-drag;
    background: transparent;
    color: hsl(210, calc(var(--saturation-factor, 1)*2.9%), 86.7%);
}

.rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}

.onlineIcon {
    margin-right: 5% !important;
}