.messageContainer {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    margin-top: 3px;
    row-gap: 0.25rem;
    font-family: ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
}

.messageContainer:hover {
    background-color: #2f3136;
}

.messageHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    column-gap: 0.5rem;
}

.date {
    --saturation-factor: 1;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.375rem;
    min-height: 1.375rem;
    white-space: break-spaces;
    color: hsl(214, calc(var(--saturation-factor, 1)*4%), 65.3%);
    font-size: 0.75rem;
    vertical-align: baseline;
}

.userText {
    --saturation-factor: 1;
    font-family: Helvetica;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: hsl(0, calc(var(--saturation-factor, 1)*0%), 100%);
    cursor: pointer;
}

.userText:hover {
    text-decoration: underline;
}

.messageText {
    --saturation-factor: 1;
    width: 100%;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: break-spaces;
    font-weight: 400;
    word-wrap: break-word;
    margin-block-start: 0;
    margin-block-end: 0;
    color: hsl(210, calc(var(--saturation-factor, 1)*2.9%), 86.7%);
}

.messageText img {
    vertical-align: middle;
}

.link {
    color: #5590B0;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}